<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Homepage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{|/css/general.css|}" />
</head>
<body>
	<div th:include="fragments/header"></div>
	<div class="jumbotron" style="background-color: #ebffea">
			<img id="welcome-image" src="/static/smart-city.jpg" class="img-responsive center-block" alt="Responsive image">
	</div>
	<div class="container">
		<div class="page-header">
			<h1 class="text-center">Bine ati venit pe platforma ePrimarie Iasi</h1>
		</div>	
	</div>

</body>
</html>

