<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
	<link rel="stylesheet" type="text/css" th:href="@{|/css/general.css|}" />
</head>
<body>
	<div class="container">
		<h1>Request Form</h1>
		<div th:fragment="requestform(url)">
			<form action="#" th:action="${url}" th:object="${request}"
				method="post">
				<div>
					<input type="hidden" th:field="*{id}" />
					<p>
						<label>Tip cerere de autorizatie</label> 
						<select class="form-control" th:field="*{type}" onchange="check(this)">
							<option th:each="c : ${requestTypes}" th:text="${c.description}"
								th:value="${c.id}"></option>
						</select>
						<div id="constructii">
							<label>Denumire firma</label>
							<p><input type="text" class="form-control" placeholder="Introduceti denumirea firmei" th:field="*{numeSolicitant}" ></input></p>	
							<label>Categorie constructie</label>
							<p><input type="text" class="form-control" placeholder="Introduceti categoria constructiei" th:field="*{categorieConstructie}" ></input></p>								
							<label>Suprafata terenului</label>
							<p><input type="text" class="form-control" placeholder="Introduceti suprafata terenului" th:field="*{suprafataTeren}" ></input></p>								
							<label>Adresa constructiei</label>
							<p><input type="text" class="form-control" placeholder="Introduceti adresa constructiei" th:field="*{adresaConstructie}" ></input></p>								
							<label>Denumire firma proiectanta</label>
							<p><input type="text" class="form-control" placeholder="Introduceti numele proiectantului" th:field="*{numeProiectant}" ></input></p>								
							<label>Valoarea lucrarilor</label>
							<p><input type="text" class="form-control" placeholder="Introduceti valoarea lucrarilor" th:field="*{valoareLucrari}" ></input></p>															
						</div>
						<div id="mediu" style="display: none;">
							<label>Denumire firma</label>
							<p><input type="text" class="form-control" placeholder="Introduceti denumirea firmei" th:field="*{numeSolicitant}" ></input></p>	
							<label>Cod CAEN</label>
							<p><input type="text" class="form-control" placeholder="Introduceti codul CAEN al companiei" th:field="*{codCaen}" ></input></p>															
							<label>Obiect activitate</label>
							<p><input type="text" class="form-control" placeholder="Introduceti obiectul de activitate" th:field="*{categorieConstructie}" ></input></p>								
							<label>Adresa societatii comerciale</label>
							<p><input type="text" class="form-control" placeholder="Introduceti adresa societatii comerciale" th:field="*{adresaConstructie}" ></input></p>														
							<label>Suprafata terenului</label>
							<p><input type="text" class="form-control" placeholder="Introduceti suprafata terenului" th:field="*{suprafataTeren}" ></input></p>								
							
						</div>
						<div id="functionare" style="display: none;">
							<label>Denumirea firmei</label>
							<p><input type="text" class="form-control" placeholder="Introduceti denumirea firmei" th:field="*{numeSolicitant}" ></input></p>	
							<label>Obiect activitate</label>
							<p><input type="text" class="form-control" placeholder="Introduceti obiectul de activitate" th:field="*{categorieConstructie}" ></input></p>								
							<label>Cod CAEN</label>
							<p><input type="text" class="form-control" placeholder="Introduceti codul CAEN al companiei" th:field="*{codCaen}" ></input></p>																						
							<label>Adresa spatiului</label>
							<p><input type="text" class="form-control" placeholder="Introduceti adresa spatiului" th:field="*{adresaConstructie}" ></input></p>								
							<label>Autorizatie de securitate la incendiu</label>
							<p><input type="text" class="form-control" placeholder="Introduceti numarul autorizatiei" th:field="*{nrAutorizatie}" ></input></p>															
						</div>
						<script>
							function check(idCerere)
							{
						        valoareSelectata = idCerere.value;
						        if(valoareSelectata == 1){
						            document.getElementById("constructii").style.display = "";
						            document.getElementById("mediu").style.display = "none";
						            document.getElementById("functionare").style.display = "none";
						        }
						        else if(valoareSelectata == 2)
						        {
						        	document.getElementById("constructii").style.display = "none";
						            document.getElementById("mediu").style.display = "";
						            document.getElementById("functionare").style.display = "none";
						        }
						        else{
						        	document.getElementById("constructii").style.display = "none";
						            document.getElementById("mediu").style.display = "none";
						            document.getElementById("functionare").style.display = "";
						        }
							}
						</script>
					</p>
					<p>
						<input type="hidden" th:field="*{user}" />
					</p>
				</div>
				<p>
					<input class="btn btn-primary" type="submit" value="Trimite" /> 
					<input class="btn btn-default" type="reset" value="Resetare campuri" />
				</p>
			</form>
		</div>
	</div>
</body>
</html>

