<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
</head>
<body>
	<div class="container">
		<h1>Request Form</h1>
		<div th:fragment="requestform(url)">
			<form action="#" th:action="${url}" th:object="${request}"
				method="post">
				<div>
					<input type="hidden" th:field="*{id}" />
					<p>
						<label>Request Type</label> <select class="form-control"
							th:field="*{type}">
							<option th:each="c : ${requestTypes}" th:text="${c.description}"
								th:value="${c.id}"></option>
						</select>
					</p>
					<p>
						<input type="hidden" th:field="*{user}" />
					</p>
				</div>
				<p>
					<input class="btn btn-primary" type="submit" value="Submit" /> <input
						class="btn btn-default" type="reset" value="Reset" />
				</p>
			</form>
		</div>
	</div>
</body>
</html>

