<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Requests List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
</head>
<body>

	<div th:include="fragments/header"></div>

	<div class="container">
		<div th:if="${#lists.isEmpty(requests)}">
			<p><i>No requests to show</i></p>
		</div>
		
		<div class="list-group">
			Cererea a fost inregistrata cu succes !
		</div>
	</div>
</body>
</html>

