<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<script th:src="@{|/js/jquery.js|}"></script>
<link rel="stylesheet" type="text/css" th:href="@{|/css/general.css|}" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style type="text/css">
table tr th {
	width: 18%;
}
</style>
</head>
<body>
	<div th:include="fragments/header"></div>
	<div class="container">
		<div class="page-header">
			<h1>
				<span th:text="${user.name}"></span> <small><span
					th:text="${user.username}"></span></small>
			</h1>
			<h4>
				<span th:if="${user.authority.role} == 'ROLE_USER'">Utilizator</span> 
				<span th:if="${user.authority.role} == 'ROLE_SECRETARY'">Secretariat</span>
				<span th:if="${user.authority.role} == 'ROLE_CONSTRUCTION_AUTHORIZE'">Departament constructii</span> 
				<span th:if="${user.authority.role} == 'ROLE_ENVIRONMENT_AUTHORIZE'">Departament mediu</span> 
				<span th:if="${user.authority.role} == 'ROLE_INFRASTRUCTURE'">Directia Economica</span>
			</h4>
		</div>

		<div class="tabbable-panel">
			<div class="tabbable-line">
				<ul class="nav nav-tabs nav-justified">
					<li class="active"><a sec:authorize="!hasAnyRole('ROLE_SECRETARY')"href="#tab_default_1" data-toggle="tab">
							Autorizatii</a></li>
					<li><a
						sec:authorize="${#authorization.expression(T(com.licenta2018.spring.security.AllowedToSeeAudiences).condition)}"
						href="#tab_default_2" data-toggle="tab">Audiente</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab_default_1">
						<div class="col-md-6">
							<h4>
								<i class="glyphicon glyphicon-home"></i> Autorizatii aprobate
							</h4>
							<div th:if="${!#sets.isEmpty(requests)}">
								<table class="table">
									<thead>
										<tr>
											<th>Numar cerere</th>
											<th>Tip</th>
											<th>Solicitant</th>
											<th>Data crearii</th>
											<th>Data aprobarii</th>
											<th sec:authorize="hasAnyRole('ROLE_USER')">Descarcare</th>
											<th>Stergere</th>
										</tr>
										<tr th:if="${req.approvalStatus}" th:each="req : ${requests}">
											<td>#<span th:text="${req.id}"></span></td>
											<td><a th:text="${req.type.description}"
												th:href="@{|/requests/${req.id}|}"></a></td>
											<td th:text="${req.numeSolicitant}"></td>
											<td th:text="${req.issueDate}"></td>
											<td th:text="${req.approvalDate}"></td>
											<td><a sec:authorize="hasAnyRole('ROLE_USER')"
												class="pull-right"
												th:href="@{|/requests/${req.id}/download/request|}"><i
													class="glyphicon glyphicon-download"></i></a></td>
											<td><a 
												th:href="@{|/requests/${req.id}/remove|}"><i
													class="glyphicon glyphicon-trash"></i></a></td>
										</tr>
									</thead>
								</table>
							</div>
							<p th:if="${#sets.isEmpty(requests)}">
								<i>Nicio cerere aprobata</i>
							</p>

							<h4>
								<i class="glyphicon glyphicon-home"></i> Cereri in asteptare
							</h4>
							<div th:if="${!#sets.isEmpty(requests)}">
								<table class="table">
									<thead>
										<tr>
											<th>Numar cerere</th>
											<th>Tip</th>
											<th>Solicitant</th>
											<th>Data crearii</th>
											<th sec:authorize="!hasAnyRole('ROLE_USER')">Aprobare</th>
											<th sec:authorize="!hasAnyRole('ROLE_USER')">Respinge</th>
											<th>Stergere</th>
										</tr>
										<tr th:if="${!req.approvalStatus}" th:each="req : ${requests}">
											<td>#<span th:text="${req.id}"></span></td>
											<td><a th:text="${req.type.description}"
												th:href="@{|/requests/${req.id}|}"></a></td>
											<td th:text="${req.numeSolicitant}"></td>
											<td th:text="${req.issueDate}"></td>
											<td><a sec:authorize="!hasAnyRole('ROLE_USER')" th:href="@{|/requests/${req.id}/approve|}"><i
													class="glyphicon glyphicon-ok"></i></a></td>
											<td><a sec:authorize="!hasAnyRole('ROLE_USER')" th:href="@{|/requests/${req.id}/reject|}"><i
													class="glyphicon glyphicon-remove"></i></a></td>
											<td><a th:href="@{|/requests/${req.id}/remove|}"><i
													class="glyphicon glyphicon-trash"></i></a></td>
										</tr>
									</thead>
								</table>
							</div>
							<p th:if="${#sets.isEmpty(requests)}">
								<i>Nicio cerere inregistrata</i>
							</p>
							
							<h4>
								<i class="glyphicon glyphicon-home"></i> Autorizatii respinse
							</h4>
							<div th:if="${!#sets.isEmpty(requests)}">
								<table class="table">
									<thead>
										<tr>
											<th>Numar cerere</th>
											<th>Tip</th>
											<th>Solicitant</th>
											<th>Data crearii</th>
											<th>Stergere</th>
										</tr>
										<tr th:if="${req.rejected}" th:each="req : ${requests}">
											<td>#<span th:text="${req.id}"></span></td>
											<td><a th:text="${req.type.description}"
												th:href="@{|/requests/${req.id}|}"></a></td>
											<td th:text="${req.numeSolicitant}"></td>
											<td th:text="${req.issueDate}"></td>
											<td><a 
												th:href="@{|/requests/${req.id}/remove|}"><i
													class="glyphicon glyphicon-trash"></i></a></td>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab_default_2">
						<h4>
							<i class="glyphicon glyphicon-th-list"></i> Audiente aprobate
						</h4>
						<div th:if="${!#lists.isEmpty(audiences)}">
							<table class="table">
								<thead>
									<tr>
										<th>Numar solicitare</th>
										<th>Solicitant</th>
										<th>Data crearii</th>
										<th>Persoana in audienta</th>
										<th>Motivul audientei</th>
										<th>Stergere</th>
									</tr>
									<tr th:if="${aud.approvalStatus}" th:each="aud : ${audiences}">
										<td>#<span th:text="${aud.id}"></span></td>
										<td th:text="${aud.issuerName}"></td>
										<td th:text="${aud.issueDate}"></td>
										<td th:text="${aud.person}"></td>
										<td th:text="${aud.reason}"></td>
										<td><a 
											th:href="@{|/audiences/${aud.id}/remove|}"><i
												class="glyphicon glyphicon-trash"></i></a></td>
									</tr>
								</thead>
							</table>
						</div>
						<p th:if="${#lists.isEmpty(audiences)}">
							<i>Nicio audienta aprobata</i>
						</p>

						<h4>
							<i class="glyphicon glyphicon-th-list"></i> Solicitari in asteptare
						</h4>
						<div th:if="${!#sets.isEmpty(audiences)}">
							<table class="table">
								<thead>
									<tr>
										<th>Numar solicitare</th>
										<th>Solicitant</th>
										<th>Data crearii</th>
										<th>Persoana in audienta</th>
										<th>Motivul audientei</th>
										<th sec:authorize="!hasAnyRole('ROLE_USER')">Aprobare</th>
										<th sec:authorize="!hasAnyRole('ROLE_USER')">Respinge</th>
										<th>Stergere</th>
									</tr>
									<tr th:if="${!aud.approvalStatus}" th:each="aud : ${audiences}">
										<td>#<span th:text="${aud.id}"></span></td>
										<td th:text="${aud.issuerName}"></td>
										<td th:text="${aud.issueDate}"></td>
										<td th:text="${aud.person}"></td>
										<td th:text="${aud.reason}"></td>
										<td><a sec:authorize="!hasAnyRole('ROLE_USER')" th:href="@{|/audiences/${aud.id}/approve|}"><i
												class="glyphicon glyphicon-ok"></i></a></td>
										<td><a sec:authorize="!hasAnyRole('ROLE_USER')" th:href="@{|/audiences/${aud.id}/reject|}"><i
												class="glyphicon glyphicon-trash"></i></a></td>
										<td><a th:href="@{|/audiences/${aud.id}/remove|}"><i
												class="glyphicon glyphicon-trash"></i></a></td>
									</tr>
								</thead>
							</table>
						</div>
						<p th:if="${#sets.isEmpty(audiences)}">
							<i>Nicio solicitare inregistrata</i>
						</p>
						
						<h4>
							<i class="glyphicon glyphicon-th-list"></i> Audiente respinse
						</h4>
						<div th:if="${!#sets.isEmpty(audiences)}">
							<table class="table">
								<thead>
									<tr>
										<th>Numar solicitare</th>
										<th>Solicitant</th>
										<th>Data crearii</th>
										<th>Persoana in audienta</th>
										<th>Motivul audientei</th>
										<th>Stergere</th>
									</tr>
									<tr th:if="${aud.rejected}" th:each="aud : ${audiences}">
										<td>#<span th:text="${aud.id}"></span></td>
										<td th:text="${aud.issuerName}"></td>
										<td th:text="${aud.issueDate}"></td>
										<td th:text="${aud.person}"></td>
										<td th:text="${aud.reason}"></td>
										<td><a th:href="@{|/audiences/${aud.id}/remove|}"><i
												class="glyphicon glyphicon-trash"></i></a></td>
									</tr>
								</thead>
							</table>
						</div>
						<p th:if="${#lists.isEmpty(audiences)}">
							<i>Nicio audienta respinsa</i>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
